

<div class="form-group">
    @Html.Label("Brand", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <select name="SelectedBrandId" id="brandDropDown" onchange="GetModelList()" style="color: black">
            <option>---Select Model---</option>
            @foreach (var item in ViewBag.BrandList)
            {
                <text>
                    <option value="@item.BrandId">@item.Name</option>
                </text>
            }
        </select>
    </div>
</div>

<div class="form-group">
    @Html.Label("Model", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <select name="SelectedModelId" id="modelDropDown">
            <option>---Select Model---</option>
        </select>
    </div>
</div>






